/* Your CSS Styling */

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* The html and body elements cannot have any padding or margin. */
}

/* Genericon social icon styles
---------------------------------------------------- */
.genericon-github:before,
.genericon-linkedin:before,
.genericon-twitter:before {
    -webkit-font-smoothing: antialiased;
    font: normal 32px/1 'Genericons';
    vertical-align: middle;
}

.grid_image {
	height: 100px;
	width: 100px;
	background-color: rgba(245, 245, 245, 0.75);
	padding: 5px;
}

.grid_image_label {
	text-align:center;
	font-size: 18px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom: 5px;
}

.grid_image:hover { 
  outline: 5px solid #31708f; 
  transition-delay:0s;
} 

.well {
   background-color: rgba(245, 245, 245, 0.75);
}

#ListWrapper {
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	line-height:200%; 
}

.usererror {
	background-color: rgba(245, 245, 245, 0.75);
	padding: 10px;
}

#location_results {
	background-color: rgba(245, 245, 245, 0.9);
	padding: 5px 0px 0px 5px;
}

#map-canvas {
    height: 600px;
    width:  100%;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
  }

.dest_table_font {
	font-family: Helvetica, sans-serif;font-size: 20px;
}

.map_label_font {
	font-family: Arial, sans-serif;font-size: 18px;
}

#travel_info {
	font-weight: bold;
}
