{% extends "layout/base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<div id="wrap">
	<div class="container">
		
		<div id="explanation">
		<h1>Hopper</h1>
		<h3>Enter the starting location and where you would like to go including</h3>
		<li>bars</li>
		<li>cafes</li>
		<li>hair</li>
		<li>drugstores</li>
		<li>grocery</li>
		<li>lounges</li>
		</div>
		<br>
		<br>
		<div id="login_form">
			<form action="" method="post" name="login" onsubmit="return (true)">    
				{{form.hidden_tag()}}        
				Home location<br>        
				{{form.home(size=40)}}<br>      
				Category one:<br>        
				{{form.cat1(size=40)}}</p>      
				Category two:<br>        
				{{form.cat2(size=40)}}</p>
				Category three:<br>        
				{{form.cat3(size=40)}}</p>
				Category four:<br>        
				{{form.cat4(size=40)}}</p> 
				Minimum Yelp Rating:<br>        
				{{form.yelp}}</p>     
				<p><div id="submit_button"><input type="submit" value="Route My Chores"></div>
			</form>
		</div>
		
		<span class="small"><a href="#" id="AddCategoryButton" class="btn btn-info">Add More Desintations</a></span></p>
		<div id="InputsWrapper">
			<div>
				<input type="text" name="mytext[]" id="field_1" value=""/><a href="#" class="removeclass">&times;</a>
			</div>
		</div>
		
		<script language="JavaScript" type="text/javascript">
		var MaxForms = 4;
		var numberForms = $("#InputsWrapper").length; 
		
		//when AddCategoryButton is clicked, add a text field
		$("#AddCategoryButton").click(function (e){ 
			if (numberForms < MaxForms){
				$("#InputsWrapper").append('<div><input type="text"><a href="#" class="removeclass">&times;</a></div>')	
				numberForms++;
			}
		});
		
		//when someone clicks on the X button, remove the form
		$("body").on("click",".removeclass", function(e){
			if ( numberForms > 1) {
				console.log('removing' + numberForms)
				$(this).parent('div').remove();
				numberForms--;			
			}
			return 0;
		}
		);
		</script>
		
		
	</div>
</div>

{% endblock %}
	
{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
