{% extends "layout/base.html" %}

{% block content %}
<div class="container">
	<!-- The starting location entry field	 -->
	<div class="row">
		<div class ="col-sm-8">
			<div class="well">
				<h1>Hoppr around town</h1>
				<div class="row">		
		  			<div class="col-sm-7">
		    			<input type="text" class="form-control input-lg" id="startingLocation" placeholder="Starting Location">
			  		</div>
			  		<div class="col-sm-3">
			    		<select id="yelp_rating" class="btn btn-info form-control input-lg">
		  					<option>Top 10%</option>
		  					<option>Top 25%</option>
		  					<option selected="selected">Top 50%</option>
		  					<option>Top 75%</option>
		  					<option>Everything</option>
						</select>
		  			</div>
		  			<div class="col-sm-2">
		  				<button id="submit" type="button" class="btn btn-primary btn-block input-lg">Submit</button>
					</div>
				</div>
			</div>
		</div>
	<!-- Closing the strating location field -->
	</div>
	<!-- Starting bottom well -->
	<div class="well">
		<div class="row">
			<!-- starting the left column -->
			<div class ="col-sm-5">
			<!-- <div class="well"> -->
				<h2>Add Destinations</h2>
				<div class="row">		
		  			<div class="col-md-9">
		    			<input type="text" class="form-control input-lg" id="desintationEntry" placeholder="May enter 'Grocery' or 'Safeway'">
		    		</div>
		    		<div class="col-md-3">
						<button id="addDestinationButton" type="button" class="btn btn-info btn-block input-lg">Add</a>
					</div>
				</div>
				<ol>
					<div id="ListWrapper">
					</div>
				</ol>
			<!-- Ending the left columsn -->
			</div>
			<!-- Starting the right column, grid of icons -->
			<div class ="col-sm-7">
				<!-- first row -->
				<div class="row">
	        		<div class = "col-sm-3 nopadding">
	        			<div class="text-info grid_image_label">grocery</div>
	        			<img class="img-thumbnail center-block grid_image" id="Grocery" src="/static/images/shoppingcart.png">
	        		</div>
	        		<div class = "col-sm-3">
	        			<div class="text-info grid_image_label">bank</div>
	        			<img class="img-thumbnail center-block grid_image" id="Banks & Credit Unions" src="/static/images/bank.png">
	        		</div>
	        		<div class = "col-sm-3">
	        			<div class="text-info grid_image_label">usps</div>
	        			<img class="img-thumbnail center-block grid_image" id="Post Offices" src="/static/images/envelope.png">
	        		</div>
					<div class = "col-sm-3">
						<div class="text-info grid_image_label">pharmacy</div>
	        			<img class="img-thumbnail center-block grid_image" id="Drugstores" src="/static/images/cross.png">
	        		</div>
	        	<!-- closing first row -->
				</div>
				<br>
				<!-- second row -->
				<div class="row">
	        		<div class = "col-sm-3 nopadding">
	        			<div class="text-info grid_image_label">Stores</div>
	        			<img class="img-thumbnail center-block grid_image" id="Department Stores" src="/static/images/hanger.png">
	        		</div>
					<div class = "col-sm-3">
						<div class="text-info grid_image_label">hair</div>
	        			<img class="img-thumbnail center-block grid_image" id="Hair Salons" src="/static/images/hair.jpg">
	        		</div>
					<div class = "col-sm-3">
						<div class="text-info grid_image_label">laundry</div>
	        			<img class="img-thumbnail center-block grid_image" id="Dry Cleaning & Laundry" src="/static/images/laundry.png">
	        		</div>
	        		<div class = "col-sm-3">
	        			<div class="text-info grid_image_label">coffee</div>
	        			<img class="img-thumbnail center-block grid_image" id="Coffee & Tea" src="/static/images/coffee.png">
	        		</div>
	        	<!-- closing second row -->
	        	</div>
				<br>
				<!-- third row -->
	        	<div class="row">
					<div class = "col-sm-3">
						<div class="text-info grid_image_label">chinese</div>
	        			<img class="img-thumbnail center-block grid_image" id="Chinese" src="/static/images/chinese.png">
	        		</div>
	        		<div class = "col-sm-3">
	        			<div class="text-info grid_image_label">italian</div>
	        			<img class="img-thumbnail center-block grid_image" id="Italian" src="/static/images/pizza.png">
	        		</div>
	     			<div class = "col-sm-3">
	        			<div class="text-info grid_image_label">liquor</div>
	        			<img class="img-thumbnail center-block grid_image" id="Beer, Wine & Spirits" src="/static/images/wine.png">
	        		</div>
					<div class = "col-sm-3">
						<div class="text-info grid_image_label">bakery</div>
						<img class="img-thumbnail center-block grid_image" id="Bakeries" src="/static/images/cupcake.png">
	        		</div>
	        	<!-- closing third row -->
				</div>
			<!-- Ending the right column -->
			</div>
		<!-- Closing the bottom row -->
		</div>
	<!-- Closing the bottom well-->
	</div>
<!-- end of container -->
</div>

{% endblock %}
{% block scripts %}
<!-- places javascript API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<script type="text/javascript">
	var maxDestinations = 4;
	var desintationList = [];
	
	//adds one text entry to the categories
	function add_list_item(text){
		// add item if not above max count, and if not already there
		if (desintationList.length < maxDestinations && !(desintationList.indexOf(text) > -1)){
			$("#ListWrapper").append('<div><li>' + text + '<a href="#" class="removeclass">&times;</a></li></div>');	
			desintationList.push(text);
		}
		return 0;
	};
	// Pressing enter in the text field of desintationEntry is the same as clicking on addCategoryButton
	$("#desintationEntry").keyup(function(event){
    if(event.keyCode == 13){
        $("#addDestinationButton").click();
    }
});
	
	//clicking AddCategoryButton adds a text field
	$("#addDestinationButton").click(function (e){ 
		var text = $("#desintationEntry").val();
		add_list_item(text);
		// clear the text field
		$("#desintationEntry").val("");
	});
	
	//clicking X button removed the field
	$("body").on("click",".removeclass", function(e){
		// remove the entry from the list
		var li = $(this).parent()[0];
		var text = li.childNodes[0].data;
		var index = desintationList.indexOf(text);
		if (index !== -1) {
			desintationList.splice(index, 1);
		}
		// remove the div entirely
		$(this).parent('li').remove();	
		return 0;
	}
	);
	
	//submitting the form redirects the page
	$('#submit').click(function(e){
		entries = {};
		for (var i=0; i < desintationList.length; i++){
			entries[i] = desintationList[i];
		}
		var yelp_rating_dropdown = document.getElementById('yelp_rating');
		entries['yelp_rating'] = yelp_rating_dropdown.value;
		var start = document.getElementById('startingLocation');
		entries["start"] = start.value;
		window.location.href = '/results/' + encodeURIComponent(JSON.stringify(entries));
		return 0;
	});
	
	// when grid image is clicked, add the category to the destination list
	$("body").on("click",".grid_image", function(e){
		// retrieving text from the id element
		var text = $(this)[0].id;
		add_list_item(text);
		return 0;
		});
		
	//autocomplete for startingLocation
	var input = /** @type {HTMLInputElement} */(
      document.getElementById('startingLocation'));
    var autocomplete = new google.maps.places.Autocomplete(input);
    //restrict to Bay Area
    var sw = google.maps.LatLng(37.3333, -122.5311);
    var ne = google.maps.LatLng(37.9736, -121.9000);
    var LatLngBounds = google.maps.LatLngBounds(sw, ne);
    autocomplete.setBounds(LatLngBounds);
    
</script>
{% endblock %}